<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6" style="margin: 20px;">
            <h1>Producto</h1> <input class = "form-control" type="text" placeholder="Search" aria-label="Search" style = "margin-top: 5px;">

            <div class="card-body table-responsive p-0" style="height: 500px; margin-top: 5px;">
                <table class="table table-head-fixed text-nowrap">
                <thead>
                    <tr>
                    <th>ID</th>
                    <th>CANTIDAD</th>
                    <th>PRODUCTO</th>
                    <th>PRECIO</th>
                    <th>IMPORTE</th>
                    </tr>
                </thead>
                <tbody>
                <!-- <tr *ngFor="let documento of documentos"> -->
                    <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            
            
        </div>
    </div>
</div>
