<div class="container">
    <div class="card-body table-responsive p-0" style="height: 500px; margin-top: 5px;">
            <table class="table table-head-fixed text-nowrap">
            <thead>
                <tr>
                <th>ID</th>
                <th>CANTIDAD</th>
                <th>PRODUCTO</th>
                <th>PRECIO</th>
                <th>IMPORTE</th>
                </tr>
            </thead>
            <tbody>
            <!-- <tr *ngFor="let documento of documentos"> -->
                <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
            </tbody>
            </table>
    </div>
</div>